.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #050505;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #1b0557;
  font-size: 8rem;
  color: #d6e22c;
}

p {
  font-size: 2rem;
  color: #d6e22c;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

#btnReload {
  font-family: 'Lobster', cursive;
  margin-top: 5%;
  background-color: #d6e22c; /* Yellow */
  border: none;
  color: #1b0557;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 35px;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
